{% extends 'user_header.html' %}
{% block content %}
<html>
    <head>
        <title>Updation form</title>
    </head>
    <body align="center">
        <h1>Update your Complaint!</h1>
        <table align="center">
        <form method="post">
            {% csrf_token %}
            <tr>
                <td><label>Complaint:</label></td>
                <td class="contact-one__form-input-box">{{updateform.complaints}}</td>
            </tr>
        </table>
            <button  class="thm-btn contact-one__btn" type="submit">Update</button>
        </form>
    </body>
</html>
{% endblock %}