{% extends 'user_header.html' %}
{% block content %}
<html>
    <head>
        <title>Complaints</title>
    </head>
    <body align="center">
        <table class="form-class" align=center>
        <h1> Do you have any Complaints !!</h1>
        <form method="post">
            {% csrf_token %}
               
               <tr>
                <td><label>Complaint:</label></td>
                <td>{{form.complaints}}</td>
            </tr>
            <tr > 
           <td colspan=2 ><button  class="thm-btn contact-one__btn" type="submit">Submit</button></td>
          </tr>
        </form>
    </table>
    </body>
</html>
{% endblock %} 