{% extends 'regheader.html' %}
{% block content %}
<html>
    <head>
        <title>Public Registration</title>
    </head>
    <body align="center">
        <center>
     <!-- <h1>Registration Form</h1> -->
        <form method="post">
            {% csrf_token %}
            <table align="center">
            <tr>
                <td><label>Name:</label></td>
                <td class="contact-one__form-input-box">{{driverform.name}}</td>
            </tr>
            <tr>
                <td><label>Gender:</label></td>
                <td class="contact-one__form-input-box">{{driverform.gender}}</td>
            </tr>
            <tr>
                <td><label>Age:</label></td>
                <td class="contact-one__form-input-box">{{driverform.age}}</td>
            </tr>
            <tr>
                <td><label>Municipality:</label></td>
                <td class="contact-one__form-input-box">{{driverform.municipality}}</td>
            </tr>
            <tr>
                <td><label>Contact Number:</label></td>
                <td class="contact-one__form-input-box">{{driverform.contact_no}}</td>
            </tr>
            <tr>
                <td><label>Email:</label></td>
                <td class="contact-one__form-input-box">{{loginform.email}}</td>
            </tr>
            <tr>
                
                <td><label>Password:</label></td>
                <td class="contact-one__form-input-box">{{loginform.password}}</td>
            </tr>
        </table>
           <button  class="thm-btn contact-one__btn" type="submit">Submit</button>
           
           
        </form>

</center>
    </body>
</html>
{% endblock %}