{% extends 'harithakarma_header.html' %}

{% block content %}
    <h1 align="center">Municipality Dustbins</h1>

    {% if messages %}
        <div class="alert">
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <form action="{% url 'dustbin_harithakarma_search' %}" method="get" align="center">
        {% csrf_token %}
        <input type="search" name="search" placeholder="Search here">
        <input type="submit" value="Search">
    </form>

    <table class="table table-striped" align="center">
        <thead>
            <tr>
                <th>Dustbin ID</th>
                <th>Location</th>
            </tr>
        </thead>
        <tbody>
            {% for data in dustbin_harithakarma_search %}
                <tr>
                    <td>{{ data.dustbin_id }}</td>
                    <td>{{ data.location }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="2">No dustbins found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
