{% extends 'muncipal_header.html' %}
{% block content %}
<html>
    <head>
        <title>Updation form</title>
    </head>
    <body align="center">
        <h1>Update Notifications!</h1>
        <form method="post">
            {% csrf_token %}
            <center>
            <div class="col-xl-4 col-lg-1 col-md-2">
            <div class="contact-one__form-input-box">
                <textarea id="notifications" name="notifications" rows="4" cols="50">{{ updateform.notifications.value }}</textarea>
                </div>
                </div>
            </div>
        </center>
                <button  class="thm-btn contact-one__btn" type="submit">Submit</button>
    </body>
</html>
{% endblock %}