{% extends 'muncipal_header.html' %}
{% block content %}
<html>
<head>
    <title>Notifications Municipality View</title>
</head>
<body align="center">
    <h1>View Notifications</h1>
    <table class="table table-striped" align="center">
        <tr>
            <th>Notifications</th>
            <th>Issued Date</th>
            <th>Edit</th>
            <th>Delete</th>
        
          </tr>
        </thead>
        <tbody>
          {% for data in notify_muncipality_view %}
           <tr>
           <td>{{ data.notifications }}</td>
           <td>{{ data.date }}</td>
           <td><a class="btn btn-primary" href="{% url 'notify_update' id=data.id %}">Edit</a></td> 
           <td><a class="btn btn-secondary" href="{% url 'notify_delete' id=data.id %}">Delete</a></td>
         </tr>
          {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}