{% extends 'header.html' %}
{% block content %}
<html>
    <head>
        <title>Notifications</title>
    </head>
    <body align="center">
        <h1>Enter Notifications</h1>
        <form method="post">
            {% csrf_token %}
            <div>
            <label>Notifications</label>
            <textarea name="notifications" ></textarea>
            </div>
            <button  class="thm-btn contact-one__btn" type="submit">Submit</button>
        </form>
    </body>
</html>
{% endblock %} 