{% extends 'muncipal_header.html' %}
{% block content %}
<html>
    <head>
        <title> Dustbin Details Updation </title>
    </head>
    <body align="center">
        <h1>Update Dustbin Details!</h1>
        <form method="post">
            {% csrf_token %}
            <table align="center">
                <tr>
                    <td><label>Dustbin ID:</label></td>
                    <td class="contact-one__form-input-box">{{updateform.dustbin_id}}</td>
                </tr>
                <tr>
                    <td><label>Latitude:</label></td>
                    <td class="contact-one__form-input-box">{{updateform.latitude}}</td>
                </tr>
                <tr>
                    <td><label>Longitude:</label></td>
                    <td class="contact-one__form-input-box">{{updateform.longitude}}</td>
                </tr>
            </table>
               
            </table>
            {% comment %} {{ logform.as_p}} {% endcomment %}
            <button  class="thm-btn contact-one__btn"  type="submit">Update</button>
        </form>
    </body>
</html>
{% endblock %}