{% extends 'user_header.html' %}
{% block content %}
<html>
    <head>
        <title>waste update</title>
    </head>
    <body align="center">
        <h1> Update your Waste Details!!</h1>
        <form method="post">
            {% csrf_token %}
            {% comment %} {{ form.as_p}} {% endcomment %}
            <table align="center">
                <tr>
                    <td><label>Weight:</label></td>
                    <td class="contact-one__form-input-box">{{form.weight}}</td>
                </tr>
            </table>
            <button  class="thm-btn contact-one__btn" type="submit">Submit</button>
        </form>
    </body>
</html>
{% endblock %}